<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">
<head>
  <title>User List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>Manage User</h1>
  <table class="table table-active">
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    <tr th:each="u : ${allUser}">
      <td th:text="${u.getEmail()}"></td>
      <td th:text="${u.password}"></td>
      <td th:text="${u.role}"></td>
      <td>
        <a th:href="@{/admin/edit?id={id}(id=${u.getId()})}" class="btn btn-primary">Edit</a>
        <a th:href="@{/admin/delete?id={id}(id=${u.getId()})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
  </table>
  <a href="/admin/add" class="btn btn-success">Add User</a>
</div>
</body>
</html>