<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">
<head>
  <title>Quiz List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<style>
  h1{
    text-align: center;
  }
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    border: 0.1rem solid rgb(86,165,235,0.25);
    padding-right: 50px;
    margin-top: 20px;
  }
  container{color: #9fcdff}
  h2 {
    color: #0f69c6;
    background: lightskyblue;
  }
  li{
    color: #0b0b0b;
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid rgb(86,165,235,0.25);
    background: white;
  }
  a{
    margin-left: 350px;
  }
</style>
<div class="col-3"></div>
<div class="container col-6">
  <h1 th:text="${quizList.getName()}"></h1>
  <div th:each="ques : ${questions}">
    <ul>
      <h2 th:text="${ques.question}"></h2>
      <li>
        <input  type="radio" th:name="${ques.questionNo}" th:text="${ques.answerA}" th:value="a">
      </li>
      <li><input  type="radio" th:name="${ques.questionNo}" th:text="${ques.answerB}" th:value="b">
      </li>
      <li><input  type="radio" th:name="${ques.questionNo}" th:text="${ques.answerC}" th:value="c">
      </li>
      <li>  <input  type="radio" th:name="${ques.questionNo}" th:text="${ques.answerD}" th:value="d">
      </li>
      <li hidden>
        <input type="radio" th:name="${ques.questionNo}" th:text="${ques.answerD}" value="x" checked>
      </li>
    </ul>
  </div>


  <form th:object="${result}" th:action="@{submit}" method="post">
    <textarea hidden th:field="*{strResult}" id="result"></textarea>
    <!--    <input type="submit" value="Ket thuc bai thi">-->
    <input style="margin-left: 325px" type="submit" class="btn btn-success" onclick="displayRadioValue()" value="Submit">
  </form>

  <script>
    function displayRadioValue() {
      var ele = document.getElementsByTagName('input');

      for(i = 0; i < ele.length; i++) {
        if(ele[i].checked) {
          document.getElementById("result").innerHTML
                  += "," + ele[i].value;
        }
      }
    }
  </script>
</div>
</body>
</html>