<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QuizManager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>
    <table>
        <thead>
        <tr>
            <td style="">Name</td>

        </tr>
        </thead>
    </table>
    <input type="button" name="CreateQuiz" value="CreateQuiz">
</body>
</html>