<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">
<head>
  <title>Quiz List</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
  <h1>Quiz Practice</h1>


    <div th:each="ques : ${questions}">
      <ul>
        <h2 th:text="${ques.question}"></h2>
        <li th:each="ans : ${ques.getAnswers()}">
          <input type="checkbox" th:text="${ans.answer}">
          <input hidden type="checkbox" value="${ans.correct}">
        </li>
      </ul>
    </div>
  <a href="/quizlist/submit" class="btn btn-success">Submit</a>
</div>
</body>
</html>