<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>QuizManager</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{/images/fevicon.png}" type="image/gif"/>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/jquery.mCustomScrollbar.min.css}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
</head>
<body style="background-color:aquamarine">

<div style="z-index:1">
    <p th:text="${RetMessage}"></p>
    <div class="row">
        <div class="col-md-9 col-sm-7">
            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                        aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/home}"> Home </a>
                        </li>
                        <!--              Manage quiz here-->
                        <li class="nav-item">
                            <a class="nav-link signin-btn" th:href="@{/QuizManager/?userId={userId}(userId=${session.uid})}">Quiz Management</a>
                        </li>
                        <li class="nav-item">
                            <!--                Profile here-->
                            <a class="nav-link signup-btn" th:text="${session.currentUser.get().getEmail()}" th:href="@{/profile}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link signup-btn" th:href="@{/logout}">LogOut</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-3 col-sm-5 d_none">
            <ul class="sign">
                <div class="chakra-inputgroup css-mt5xj9" style="display: flex; flex-direction: row">
                    <input placeholder="Search by author, title, name" class="chakra-input css-1sovewm" style="">
                    <button class="chakra-inputright-element css-ur97uj" style="padding: .5em;">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </ul>
        </div>
    </div>
    <h2>Quiz management</h2>
    <table class="table align-middle mb-0 bg-white">
        <tr>
            <form th:action="@{add}">
                <input type="text" th:name="id" th:value="${session.uid}" hidden>
                <button type="submit" class="btn btn-rounded">Add</button>
            </form>
        </tr>
        <thead class="bg-light">
        <tr>
            <th>Name</th>
            <th>Is Active</th>
            <th>State</th>
            <th>Category</th>
            <th>Vote</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quiz:${qList}">
            <td>
                <div class="d-flex align-items-center">
                    <div class="ms-3">
                            <a class="link-btn" th:href="@{/ViewQuiz/?pagestr=0&quizId={quizId}(quizId=${quiz.getId()})}" th:text="${quiz.getName()}"></a>
                    </div>
                </div>
                <link>
            </td>
            <td>
                <p class="fw-normal mb-1" th:text="${quiz.isActive()}"></p>
            </td>
            <td>
                <span class="badge badge-success rounded-pill d-inline" th:if="${quiz.getState().getId()==3}">Banned</span>
                <span class="badge badge-primary rounded-pill d-inline" th:if="${quiz.getState().getId()==1}">Private</span>
                <span class="badge badge-warning rounded-pill d-inline" th:if="${quiz.getState().getId()==2}">Public</span>
            </td>
            <td th:text="${quiz.getCategory().getCategoryName()}">
            </td>
            <td th:text="${quiz.getVote()}"></td>
            <td>
                <div style="display:inline-block" th:unless="${quiz.getState().getId()==3}">
                    <form th:action="@{edit}">
                        <button type="submit" class="btn btn-link btn-sm btn-rounded" th:name="id"
                                th:value="${quiz.getId()}" style="display:inline;">
                            <i class="fa fa-edit"></i>
                        </button>
                    </form>
                </div>
                <div style="display:inline-block" th:unless="${quiz.isActive()==True}">
                    <form th:action="@{delete}">
                        <button type="submit" class="btn btn-link btn-sm btn-rounded" th:name="id"
                                th:value="${quiz.getId()}">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </div>
                <div style="display:inline-block" th:unless="${quiz.getState().getId()==3}">
                    <form>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                                th:onclick="'shareForm('+${quiz.getId()}+');'"><i class="fa fa-share"></i>
                        </button>
                    </form>

                </div>
                <div style="display:inline-block" th:if="${quiz.getState().getId()==3}">
                    <form>
                        <button type="button" class="btn btn-link btn-sm btn-rounded"
                                th:onclick=""><i class="fa-solid fa-comment-dots"></i>
                        </button>
                    </form>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>

    function shareForm(p1) {
        document.getElementById("popupForm").setAttribute("style", "position: fixed;display: block;z-index: 2;");
        document.getElementById("clipboard").value=p1;

    }
    function popupForm_Close() {
        document.getElementById("popupForm").setAttribute("style", "display: none;");
    }

    function copyToClipboard() {
      // Get the text field
      var copyText = document.getElementById("clipboard");

      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices

       // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
      document.getElementById("copyBtn").innerHtml="Copied";

}

</script>
<script src="https://kit.fontawesome.com/99b46135b5.js" crossorigin="anonymous"></script>
</body>

</html>