<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Sign In </title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
  <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<div class="container">
  <div class="screen">
    <div class="screen__content">
      <form th:action="@{login}" th:object="${user}" method="post" action="#"  class="login">
        <h2 style="color:rgb(99, 46, 150);">QUIZ PRACTICE</h2>
        </br>
        <h3 style="color:rgb(99, 46, 150);">Email</h3>
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" th:feild="*{email}" id="email" name="email"  autofocus="autofocus" placeholder="Enter Email" required>
        </div>
        <h3 style="color:rgb(99, 46, 150);">Password</h3>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input required type="password" class="login__input" id="password" th:field="*{password}" name="password" autofocus="autofocus" placeholder="Enter Password">
        </div>
        <p th:if="${notification}" class="fancybox-error" style="font-weight: bold;color: red;" >Email or password is incorrect</p>
        <p th:if="${notification2}" class="fancybox-error" style="font-weight: bold;color: red;" >Your account is locked</p>
        <div th:if="${param.success}">
          <div class="alert alert-info" style="color: red; font-weight: bold">Create account success</div>
        </div>
        <button class="button login__submit" value="Login" id="submit" name="submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <span class="text-center text-muted mt-5 mb-0" style="font-weight:bold";>&nbsp;Don't have an account?
            <a th:href="@{/SignUp}" class="fw-bold text-body">Register
            here</a></span>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
</body>
</html>